%header{class: 'c-site-header'}
  .c-navbar
    .c-navbar__logo-wrapper
      %a{class: 'c-navbar__logo-link', href: 'https://marvel.com'}
        %img{class: 'c-navbar__logo', src: "#{asset_path 'marvel_logo.png'}", alt: 'Marvel logo'}
