// link overlay to catch all the clicks - courtesy of The Guardian
.u-faux-block-link__overlay {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  z-index: 0;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;
  background: transparent;
}